<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buyout.sale</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


  
  <article id="mainArticle">

<div class="aboutcard" style="width: 18rem;">
<img src="/img/cristian.jpeg" class="product-image">
<div class="aboutcard-body"><span>
I love programing, grew up with tech so it was natural for me to turn to Software and coding, just to see how the tech i grew up with actually works. Currently a student at Code Fellows studying Software Engineering and Development, with known languages of Java, JavaScript, SQL, CSS and HTML. With being greatly adept in Java and JavaScript. At the moment I’m trying to become better with my skills while honing my craft as I go forward with my career. So that I become a strong, efficient, and great Developer.
</span>
  
  <hr>  <h5 class="aboutcard-title">Cristian Robles</h5></div></div>

<div class="aboutcard" style="width: 18rem;">
  <img src="/img/victor2.jpg" class="product-image">
  <div class="aboutcard-body"><span>
I spent 8 years in the U.S Army followed by 5 years as a Deputy Sheriff. I have also taught High School, driven for Uber, delivered packages for Amazon, owned bars and restaurants and even worked for IBEW Local 46. I love to learn and have a passion for technology and helping others. I am currently a full-time student and aspiring software developer.
  </span>
    <hr> <h5 class="aboutcard-title">Victor Sullivan</h5></div></div>

  
  <div class="aboutcard" style="width: 18rem;">
    <img src="/img/stephen.jpg" class="product-image">
    <div class="aboutcard-body"><span>Working as a software developer gives me the opportunity to be creative, collaborative, and to challenge myself with problems that are often ambiguous and multifaceted. Passionate about open source and blockchain with background as an author and professor.
    </span> <hr><h5 class="aboutcard-title">Stephen Webber</h5></div></div>


  </article>
  <nav id="mainNav">

    <section>
      <h2></h2>
</section></nav>

  <div id="sitelogo"><a href="/"><img src="/img/logo.png"><h1>Buyout.sale</h1></a></div>
  <footer id="pageFooter">&copy; 2021 - <a href="/aboutus">About the Developers</a></footer>

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
      function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }


    </script>
    
</body>
