<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyout.sale</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header id="sitelogo">
    <span th:replace="fragments/fragments :: logo"></span>

</header>

<header id="header1">
    <span th:replace="fragments/fragments :: topbarsellbutton"></span>
    <span th:if="${loggedIn}" th:replace="fragments/fragments :: topbarprofilebutton"></span>
</header>

<header id="header2">
    <span th:if="${loggedIn}" th:replace="fragments/fragments :: topbarlogout"></span>
    <span th:if="${!loggedIn}" th:replace="fragments/fragments :: topbarguest"></span>

</header>

<nav id="mainNav">
    <h2 th:if="${loggedIn}" th:text="'Logged in as: '+ ${email}"></h2>

    <span th:replace="fragments/fragments :: sidebarmain"></span>
<!--    <span th:replace="fragments/fragments :: sidebaraddnew"></span>-->
</nav>

<article id="mainArticle">
<div th:if="${email}" class="add-product">
    <form action="/addproduct" method="POST" class="product-form-container" id="addproductform">
        <h1>Add Product</h1>
        <label for="productName">Product Name</label>
        <input id="productName"
               type="text"
               name="productName"
               placeholder="an old taco"
               required>
        <label for="price">Price</label>
        <input id="productPrice"
               type="number"
               name="productPrice"
               placeholder="Price (in whole dollars)"
               required>
        <label for="description">Description</label>
        <textarea id="productdescription"
                  rows="4" cols="50"
                  name="productDescription"
                  required></textarea>
        <label for="productImage">Image</label>
        <input  id="productImage"
                type="url"
                name="productImage"
                placeholder="https://i.redd.it/6k6vs1mlrg921.jpg"
                required>

        <label for="Category">Choose a category:</label>
        <select name="Category" id="Category" form="addproductform" required>
            <option value="(categoryPath.id=pcmcat209400050001)">Cell Phones</option>
            <option value="(categoryPath.id=abcat0501000)">Computers</option>
            <option value="(categoryPath.id=abcat0401000)">Digital Cameras</option>
            <option value="(categoryPath.id=pcmcat242800050021)">Health, Fitness and Beauty</option>
            <option value="(categoryPath.id=abcat0204000)">Headphones</option>
            <option value="(categoryPath.id=pcmcat241600050001)">Home Audio</option>
            <option value="(categoryPath.id=pcmcat254000050002)">Home Automation and Security</option>
            <option value="(categoryPath.id=pcmcat209000050006)">iPad, Tablets and E-Readers</option>
            <option value="(categoryPath.id=abcat0502000)">Laptops</option>
            <option value="(categoryPath.id=pcmcat232900050000)">Nintendo 3DS</option>
            <option value="(categoryPath.id=pcmcat295700050012)">Playstation 4</option>
            <option value="(categoryPath.id=pcmcat310200050004)">Portable and Wireless Speakers</option>
            <option value="(categoryPath.id=pcmcat243400050029)">PS Vita</option>
            <option value="(categoryPath.id=abcat0904000)">Ranges, Cooktops and Ovens</option>
            <option value="(categoryPath.id=abcat0901000)">Refrigerators</option>
            <option value="(categoryPath.id=abcat0912000)">Small Kitchen Appliances</option>
            <option value="(categoryPath.id=abcat0101000)">TVs</option>
            <option value="(categoryPath.id=abcat0910000)">Washers and Dryers</option>
            <option value="(categoryPath.id=pcmcat273800050036)">Wii U</option>
            <option value="(categoryPath.id=pcmcat300300050002)">Xbox One</option>
        </select>

        <button type="submit" class="btn">List Item</button>
    </form>
</div>


</article>

<footer id="pageFooter">
    <span th:replace="fragments/fragments :: footer"></span>

</footer>


</body>
</html>