<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyout.sale</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header id="header2" ><span th:if="${!loggedIn}">
    <button class="open-button" onclick="openSignupForm()">Sign Up</button>
    <div class="form-popup" id="signupForm">
        <form action="/signup" name="signup" method="POST" class="form-container">
            <h1>Sign Up</h1>
            <label for="username">Username</label>
            <input id="username"
                   type="text"
                   minlength="6"
                   maxlength="16"
                   name="username"
                   placeholder="dogeCoin99"
                   required>
            <label for="email">Email</label>

            <input  id="email"
                    type="email"
                    name="email"
                    placeholder="superman@protonmail.com"
                    minlength="6"
                    required>
            <label for="password">Password</label>

            <input  id="password"
                    type="password"
                    name="password"
                    placeholder="Pa$$w0rd"
                    required>

            <button type="submit" class="btn">Sign Up</button>
            <button type="button" class="btn cancel" onclick="closeSignupForm()">Cancel</button>
        </form>
    </div>


            <button class="open-button" onclick="openLoginForm()">Log In</button>
    <div class="form-popup" id="loginForm">
        <form action="/login" name="login" method="POST" class="form-container">
            <h1>Log In</h1>
            <label for="username">Username</label>
            <input id="username"
                   type="text"
                   minlength="6"
                   maxlength="16"
                   name="username"
                   placeholder="dogeCoin99"
                   required>
            <label for="password">Password</label>
            <input  id="password"
                    type="password"
                    name="password"
                    placeholder="Pa$$w0rd"
                    required>

            <button type="submit" class="btn">Log In</button>
            <button type="button" class="btn cancel" onclick="closeLoginForm()">Cancel</button>
        </form>
    </div>



</span>
    <span th:if="${loggedIn}">

    <form class="logout" action="/logout">
        <button class="logout-button" type="submit">Log out</button>
    </form>
</span>

</header>

<header id="header1">

        <form action="/addproduct" name="addproduct" method="GET" class="sellbutton" >
    <button type="submit" class="sellbutton">Sell A Product</button>
        </form>
        <button type="submit" class="sellbutton">View Your Profile</button>




</header>


<article id="mainArticle">
    <span th:if="${hasProducts}" th:each="product : ${products}"


    >

        <div class="card" style="width: 18rem;">
            <img th:src="${product.productImage}" class="product-image">
            <div class="card-body">
                <a href="#">Add to cart</a>
                <a href="#">Add to wish list</a>
                <hr><h5 th:text="${product.productName}" class="card-title"></h5>
            <h5 th:text="'$' + ${product.productPrice}"></h5></div></div>

    </span>



    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1565208565380-02138793c3b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="product-image">
        <div class="card-body">
            <a href="#"><center>Add to cart</center></a>
            <a href="#"><center>Add to wish list</center></a>
            <hr><center>  <h5 class="card-title">Black Pants</h5></center></div></div>



</article>
<nav id="mainNav">

    <section>
        <h2>Find A Product</h2>
        <h3>Item Keyword</h3>
        <form class="login" name="filtersearch" action="/search" method="POST">
            <input  type="text" placeholder="Mario Bros" name="productkeyword">
    </section>
<!--    <section class="filters">-->
<!--        <h3>Price Range</h3>-->
<!--        <input  type="number" placeholder="0" min="0" name="productminprice">-->
<!--        <input  type="number" placeholder="299.95" min="0" name="productmaxprice">-->

<!--    </section>-->
<!--    <section>-->
<!--        <h3 class="filters">Item Type</h3>-->
<!--        <label for="sellertype"><input type="checkbox" checked />Retail</label>-->
<!--        <span>Search for items sold by retail store</span>-->
<!--        <label for="sellertype"><input type="checkbox" checked />By User</label>-->
<!--        <span>Search for items sold by users</span>-->
        <button class="filterbutton"  type="submit">Search</button>
        </form>

    </section>

</nav>
<div id="sitelogo"><a href="/"><img src="/img/logo.png"><h1>Buyout.sale</h1></a></div>
<footer id="pageFooter">&copy; 2021 - <a href="/aboutus">About the Developers</a></footer>

<script>
    function openSignupForm() {
        document.getElementById("signupForm").style.display = "block";
    }
    function closeSignupForm() {
        document.getElementById("signupForm").style.display = "none";
    }
    function openLoginForm() {
        document.getElementById("loginForm").style.display = "block";
    }
    function closeLoginForm() {
        document.getElementById("loginForm").style.display = "none";
    }

    function validateMinMax() {
        var x = document.forms["filtersearch"]["productminprice"].value;
        var y = document.forms["filtersearch"]["productmaxprice"].value;

        if (Number(x) >= Number(y)) {

            alert("Minimum must be less than maximum.");
            // e.preventDefault();
            return false;
        }
    }

</script>

</body>