<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyout.sale</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header id="sitelogo">
<span th:replace="fragments/fragments :: logo"></span>

</header>

<header id="header1">
    <span th:replace="fragments/fragments :: topbarsellbutton"></span>
    <span th:if="${loggedIn}" th:replace="fragments/fragments :: topbarprofilebutton"></span>
</header>

<header id="header2">
    <span th:if="${loggedIn}" th:replace="fragments/fragments :: topbarlogout"></span>
    <span th:if="${!loggedIn}" th:replace="fragments/fragments :: topbarguest"></span>

</header>

<nav id="mainNav">
    <span th:replace="fragments/fragments :: sidebarmain"></span>

</nav>

<article id="mainArticle">
    <span th:if="${hasProducts}" th:each="product : ${products}">
        <div class="card" style="width: 18rem;">

            <img th:src="${product.productImage}" class="product-image">

            <div class="card-body">
            <div class="productdetails">
<!--                <span th:text="${product.description}"></span>-->
                <span>DUMMY TEXT product description</span>
            </div>
                <a href="#">Add to cart</a>
                <a href="#">Add to wish list</a>
                <hr><h5 th:text="${product.productName}" class="card-title"></h5>
                <hr><h5 th:text="${product.getProfileUser.getEmail()}" class="card-title"></h5>
                <hr><h5 th:text="${product.getProfileUser.getId()}" class="card-title"></h5>
            <h5 th:text="'$' + ${product.productPrice}"></h5></div></div>
    </span>
</article>
<footer id="pageFooter">
    <span th:replace="fragments/fragments :: footer"></span>

</footer>


</body>